<launch>
  <include file="$(find sahayak)/launch/gazebo.launch" />

  <include file="$(find sahayak_control)/launch/sahayak_control.launch" />

  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

  
  <node pkg="nodelet" type="nodelet" name="nodelet1"
        args="load image_proc/rectify nodelet_manager">
    <remap from="camera_info" to="/r200/camera/depth/camera_info"/>
    <remap from="image_mono" to="/r200/camera/depth/image_raw"/>
    <remap from="image_rect" to="/r200/mycamera/depth/depth_rect"/>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="nodelet2"
        args="load image_proc/rectify nodelet_manager">
    <remap from="camera_info" to="/r200/camera/color/camera_info"/>
    <remap from="image_mono" to="/r200/camera/color/image_raw"/>
    <remap from="image_rect" to="/r200/mycamera/color/color_rect"/>
  </node>
  
  <node name="relayer" pkg="topic_tools" type="relay" args="/r200/camera/depth/camera_info /r200/mycamera/depth/camera_info" respawn="true" />

  
  <node pkg="nodelet" type="nodelet" name="nodelet4"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/r200/camera/depth/camera_info"/>
    <remap from="image_rect" to="/r200/mycamera/depth/depth_rect"/>
    <remap from="points" to="/camera/depth/points"/>
  </node>
  
</launch>

