ros-melodic-rtabmap-ros
ros-melodic-navigation
ros-melodic-tf
ros-melodic-hector-slam
ros-melodic-gmapping
ros-melodic-ros-control
ros-melodic-joint-state-publisher
ros-melodic-robot-state-publisher
ros-melodic-cv-bridge
ros-melodic-laser-scan-matcher
ros-melodic-effort-controllers
ros-melodic-velocity-controllers
ros-melodic-controller-manager

