 <?xml version="1.0"?>
  <model>
    <name>sahayak</name>
    <version>1.0</version>
    <sdf>package://sahayak/urdf/sahayak.urdf</sdf> 
    <author>
      <name>IvLabs</name>
      <email>ivlabs@students.vnit.ac.in</email>
    </author>
    <description>
      A description of the model
    </description>
  </model>