<!-- <launch>

  <node pkg="rviz" type="rviz" name="rviz" />
<node pkg="amcl" type="amcl" name="amcl" output="screen">
  <remap from="scan" to="/laser/scan"/> -->
  <!-- Publish scans from best pose at a max of 10 Hz -->
<!--   <param name="use_map_topic" value="true" />
  <param name="odom_model_type" value="diff"/>
  <param name="odom_alpha5" value="0.1"/>
  <param name="gui_publish_rate" value="10.0"/>
  <param name="laser_max_beams" value="30"/>
  <param name="min_particles" value="500"/>
  <param name="max_particles" value="5000"/>
  <param name="kld_err" value="0.05"/>
  <param name="kld_z" value="0.99"/>
  <param name="odom_alpha1" value="0.2"/>
  <param name="odom_alpha2" value="0.2"/> -->
  <!-- translation std dev, m -->
<!--   <param name="odom_alpha3" value="0.8"/>
  <param name="odom_alpha4" value="0.2"/>
  <param name="laser_z_hit" value="0.5"/>
  <param name="laser_z_short" value="0.05"/>
  <param name="laser_z_max" value="0.05"/>
  <param name="laser_z_rand" value="0.5"/>
  <param name="laser_sigma_hit" value="0.2"/>
  <param name="laser_lambda_short" value="0.1"/>
  <param name="laser_model_type" value="likelihood_field"/> -->
  <!-- <param name="laser_model_type" value="beam"/> -->
<!--   <param name="laser_likelihood_max_dist" value="2.0"/>
  <param name="update_min_d" value="0.2"/>
  <param name="update_min_a" value="0.5"/>
  <param name="odom_frame_id" value="odom"/>
  <param name="resample_interval" value="1"/>
  <param name="transform_tolerance" value="0.1"/>
  <param name="recovery_alpha_slow" value="0.0"/>
  <param name="recovery_alpha_fast" value="0.0"/>
</node>
</launch> -->

<launch>

    <arg name="map_file" default="$(find mapping_pkg)/src/map/hector4.yaml" />
    <node pkg="map_server" type="map_server" name="map_server" args = "$(arg map_file)" />
  
    <!-- <node pkg="mapping_pkg" type="odom-pub" name="odomPub" /> -->
    <arg name="initial_pose_x" value="0.0"/> 
    <arg name="initial_pose_y" value="0.0"/> 
    <arg name="initial_pose_z" value="0.0"/>
    <arg name="robot_name" value="amcl"/>
    <!-- <node pkg="rviz" type="rviz" name="rviz"/> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher-tf" value = "0.0 0.0 0.0 0.0 0.0 0.0 map odom 100" /> -->
    <node pkg="amcl" type="amcl" name="amcl1" output="screen">

    <remap from="scan" to="/laser/scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="pseudo_base"/>
    <param name="update_min_d" value="0.1"/>
    <param name="update_min_a" value="1.0"/>
    <param name="global_frame_id" value="map" />
    <param name="use_map_topic" value="true" />
    <param name="min_particles" value="100"/>
    <param name="max_particles" value="1000"/>



    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_z"            value="$(arg initial_pose_z)"/>
    <remap from="initialpose"               to="$(arg robot_name)/initialpose"/>
    <remap from="amcl_pose"                 to="$(arg robot_name)/amcl_pose"/>
    <remap from="particlecloud"             to="$(arg robot_name)/particlecloud"/>
    </node>   

</launch>